{#
/**
 * @file
 * A PatternFly search form pattern.
 *
 * @var object[] form
 *   The form object for form inputs.
 *   - string id
 *     A form id.
 *   - string name
 *     A form name.
 *   - string action
 *     A form action.
 *   - string charset
 *     A form charset.
 *   - string method
 *     A form method.
 *   - array attributes
 *     An array of optional form attributes.
 *    - array class
 *       An array of CSS class attributes.
 *   @var object[] search
 *     A search object to display.
 *     - string id
 *       A search form id.
 *     - string name
 *         A search form name.
 *     - string value
 *         A search form value.
 *     - string placeholder
 *         A search form empty text placeholder value.
 * @var object[] inputs
 *   An array of inputs to display.
 *     - object[] input
 *       A single search input item.
 *     - string type
 *         An input type.
 *     - string id
 *         An input id.
 *     - string name
 *         An input name.
 *     - string value
 *         An input value.
 */
#}

{% spaceless %}
<form
  id="{{ form.id }}"
  role="form"
  action="{{ form.action }}"
  method="{{ form.method }}"
  accept-charset="{{ form.charset }}"
  {% if form.attributes.class|default() %}
    class="{{ form.attributes.class|join(' ') }}"
  {% endif %}
>
  <div class="form-group has-clear">
    <div class="search-pf-input-group">
      <label for="{{ form.search.id }}" class="sr-only">{{ form.search.placeholder }}</label>
      <input
        id="{{ form.search.id }}"
        name="{{ form.search.name }}"
        type="search"
        value="{{ form.search.value }}"
        class="form-control"
        placeholder="{{ form.search.placeholder }}"
      >
      <button type="button" class="clear" aria-hidden="true"><span class="pficon pficon-close"></span></button>
      {% for input in form.inputs %}
        <input
          {% if input.type != 'hidden' %} class="form-control" {% endif %}
          type="{{ input.type }}"
          {% if input.name %} name="{{ input.name }}" {% endif %}
          {% if input.value %} value="{{ input.value }}" {% endif %}
          {% if input.id %} id="{{ input.id }}" {% endif %}
        >
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <button form="{{ form.id }}" class="btn btn-default" type="submit"><span class="pficon pficon-search"></span></button>
  </div>
</form>
{% endspaceless %}
