{% macro navitem(items) %}
  {% for item in items %}
    {% set active = item.active|default() %}
    {% set expandable = item.expandable|default() %}
    {% set expanded = item.expanded|default() %}
    {% set section = item.section|default() %}
    {% set tag = expandable ? 'button' : 'a' %}
    {% if not section %}
      <li class="pf-c-nav__item {{ expandable ? 'pf-m-expandable' : '' }} {{ expandable and active ? 'pf-m-expanded pf-m-current' : '' }}">
        <{{ tag }}{% if not section and not expandable %} href="{{ item.url|default('#') }}"{% endif %} class="pf-c-nav__link {{ active ? 'pf-m-current' : '' }}" {{ active ? 'aria-current="page"' : '' }}>{{ item.text }}</{{ tag }}>
        {% if expandable %}
          <span class="pf-c-nav__toggle">
            <span class="pf-c-nav__toggle-icon">
              <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>
          </span>
      {% else %}
      </li>
      {% endif %}
    {% endif %}
    {% if section or expandable %}
      <section class="pf-c-nav__section" aria-labelledby="grouped-title1">
        {% if section %}
          <h2 class="pf-c-nav__section-title" id="grouped-title1">Section title 1</h2>
        {% endif %}
        {{ item.items|default() ? _self.navitem(item.items) : '' }}
      </section>
    {% endif %}
    {% if expandable %}
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

<nav class="pf-c-nav {{ scrollable ? 'pf-m-scrollable' : '' }}" aria-label="{{ label }}">
  {% if layout|default() %}
  <button class="pf-c-nav__scroll-button" disabled aria-label="Scroll left">
    <i class="fas fa-angle-left" aria-hidden="true"></i>
  </button>
  {% endif %}
  <ul class="{{ layout|default('pf-c-nav__list') }}">
    {% block navitems %}
      {{ _self.navitem(items) }}
    {% endblock navitems %}
  </ul>
  {% if layout|default() %}
  <button class="pf-c-nav__scroll-button" disabled aria-label="Scroll right">
    <i class="fas fa-angle-right" aria-hidden="true"></i>
  </button>
  {% endif %}
</nav>
